:root{
    --cor-de-fundo: rgb(77, 77, 90);
}

body {
    background-color: var(--cor-de-fundo);
}

.cabecalho {
    background-color: fuchsia;
}

.cabecalho-titulo {
    font-size: 36px;
    font-size: 700;
    padding: 12xp;
    text-align: center;

}

.cabecalho-menu {
    background-color: bisque;
}

.cabecalho-manu-item {
    display: block;
    padding: 10px;
    font-size: 24px;
    text-decoration: none;
    color: aqua;
    text-align: center;
    border-top: 1px solid;

}
     



